@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
html{
    scroll-behavior: smooth;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #f8f9fa;
    overflow-y: scroll;
    
}
/* .container::-webkit-scrollbar {
    display: none;
} */

.nav-container{
    height: 50px;
    width: 100%;
    background-color: #ced4da;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    height: 40px;
    width: 100vw;
}

nav ul{
   list-style: none;
   height: 40px;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.main-img img{
    object-fit: cover;
    width: 99%;
    display: block;
    height: 679px;
    position: relative;
}
.main-img p {
    position: absolute;

}
.logo{
    font-size: 2rem;
    text-shadow: 0px 0px 5px #414345;
}

.menu-items a{
    text-decoration: none;
    margin: 0 3rem;
    font-size: 1rem;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 11rem;
    box-shadow: 0px 3px 100px 70px rgba(0,0,0,0.1);
    background-color: #f8f9fa;
    flex-direction: column;
}
.blocks{
 display: flex;
 margin: 1.6rem;
 background-color: #f8f9fa;
}
.left-section{
    margin-right: 2rem;
}
.right-section{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
    height: 15.625rem;
    width: 15.625rem;
    border-radius: 20px;
    box-shadow: 0px 3px 100px 0px rgba(0,0,0,0.1);
}
.right-section figure img{
    height: 15.625rem;
    width: 15.625rem;
    object-fit: cover;
    border-radius: 20px;
}
.right-section:hover{
    transform: scale(1.1);
}
.right-section .overlay{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color:rgba(36,34,34,0.713);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s linear 0s;
}
.right-section:hover .overlay{
    opacity: 1;
}
.right-section .overlay span {
    color: white;
    font-size: 1.2rem;
}
.button{
    background-color: #ced4da;
}

.icons{
    display: flex;
}
.icons a{
   margin: 10px; 
}
.about-section{
 width: 100%;
}
.heading{
 width: 100%;
 text-align: center;
 background-color:#e9ecef ;
 height: 200px;
 padding: 3rem;
 line-height: 2;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card{
    height: 400px;
    width: 400px;
    box-shadow: 0px 3px 100px 65px rgba(0,0,0,0.1);
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s linear 0s;
}
.card:hover{
    transform: scale(1.2);
}
.card img{
    max-width: 100%;
    height: auto;
    height: 15rem;
    object-fit: cover;
    
}


.containt{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5;
    padding: 2rem;
}
.containt button{
    border: none;
    margin: 0.5rem;
    padding: 0.4rem;
    border-radius: 10px;
    background-color: #ced4da;
    cursor: pointer;
    width: 100%;
}

.contact-us{
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#e9ecef ;
    box-shadow: 0px 3px 100px 70px rgba(0,0,0,0.1);
}

.contact-heading{
    margin: 20px;
    text-align: center;
}
.contact-sections{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 90%;
}
.form{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.form label, input, select,option ,textarea, button{
    width: 500px;
    height: auto;
    margin: 5px;
    padding: 5px;
}
.form button{
    border: none;
    background-color: #ced4da;
    border-radius: 10px;
}
.footer{
    height: 100px;
    width: 100%;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    flex-direction: column;

}